<div ui-view="main" class="bu-reload">
    <div class="bu-waiter-header">
        <div class="bu-waiter-logout">
            <a href="" ng-click="logout()">
                <i class="glyphicon glyphicon-eject"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="bu-reload-interface">
        <div class="bu-reload-message">
            <div class="bu-reload-message-confirm" ng-if="isValided">
                {{ message_error }}<br />
                {{ buyer.firstname }} {{ buyer.lastname }}<br />
                veut recharger {{ credit }}€ par {{ currentType() }}<br />
                <a href="" ng-click="confirm()" class="bu-reload-confirm">Confirmer</a>
            </div>
            Choisir le mode de paiement et le montant désiré
        </div>

        <div class="clearfix"></div>

        <div class="bu-reload-types">
            <div class="bu-reload-choice" ng-class="{active: isActive(type)}" ng-repeat="type in types"><a href="" ng-click="setType(type)">{{ type.rty_name }}</a></div>
        </div>

        <table class="bu-reload-digit">
            <tr>
                <th colspan="3">
                    <form>
                        <input type="text" ng-model="credit" id="credit"/>
                    </form>
                </th>
            </tr>
            <tr>
                <td ng-click="changeCredit(1)"><a href="">1</a></td><td ng-click="changeCredit(2)"><a href="">2</a></td><td ng-click="changeCredit(3)"><a href="">3</a></td>
            </tr>
            <tr>
                <td ng-click="changeCredit(4)"><a href="">4</a></td><td ng-click="changeCredit(5)"><a href="">5</a></td><td ng-click="changeCredit(6)"><a href="">6</a></td>
            </tr>
            <tr>
                <td ng-click="changeCredit(7)"><a href="">7</a></td><td ng-click="changeCredit(8)"><a href="">8</a></td><td ng-click="changeCredit(9)"><a href="">9</a></td>
            </tr>
            <tr>
                <td class="bu-pin-digit-red" ng-click="changeCredit('x')"><a href=""><i class="glyphicon glyphicon-remove"></i></a></td><td ng-click="changeCredit(0)"><a href="">0</a></td><td class="bu-pin-digit-green" ng-click="valid()"><a href=""><i class="glyphicon glyphicon-ok"></i></a></td>
            </tr>
        </table>
    </div>
</div>