            <div class="bu-header">
                <div class="bu-container">
                    <div class="bu-menu">
                        <div class="bu-menu-item" ng-class="{active: isActive(category)}" ng-repeat="category in categories">
                            <a href="" ng-click="switchCategory(category.id)">{{ category.name }}</a>
                        </div>
                    </div>
                    <div class="bu-logout">
                        <a href="">
                            <i class="glyphicon glyphicon-off"></i>
                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="bu-content">
                <div class="bu-user">
                    <div class="bu-user-profile">
                        <div class="bu-user-image">
                            <img src="assets/img/youenn.png" />
                        </div>
                        <div class="bu-user-infos">
                            <strong class="name">Youenn Piolet</strong><br />
                            <small class="surname">Secrépute - TC01</small>
                        </div>
                    </div>

                    <div class="bu-user-items" ng-repeat="item in cart">
                        <div class="bu-user-item">
                            <div class="bu-user-item-inner">
                                <div class="item-remove">
                                    <a href="" ng-click="deleteProduct(item)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </div>
                                <div class="item-count">
                                    {{ item.quantity }}
                                </div>
                                <div class="item-name">
                                    {{ item.product.name }}
                                </div>
                                <div class="item-price">
                                    {{ (item.quantity*item.product.price).toFixed(2) }} €
                                </div>
                                <div class="item-edit">
                                    <a href="">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="bu-choices">
                    <a href="" class="bu-choice" ng-click="addProduct(product)"  ng-repeat="product in actualProducts">
                        <div class="bu-choice-inner">
                            <div class="item-icon"><img src="http://siteboz.fr/buck/coca.jpg" alt="Coca cola"></div>
                            <div class="item-infos">
                                <div class="item-name">
                                    {{ product.name }}
                                </div>
                                <div class="item-price">
                                    {{ product.price }} €
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>