#cardId {
    opacity:0;
}

.bu-waiter {
	width:100%;
	height:100%;
	text-align:center;
	font-size:24px;
	font-weight:bold;
}

.bu-waiter-error {
	color:red;
	padding-top:50px;
	font-size:18px;
	height:18px;
}

.bu-waiter-waiter {
	padding-top:40px;
}

.bu-waiter-header {
    width:100%;
    height:60px;
    background:#585657;
}

.bu-waiter-logout {
    width: 150px;
    float: left;
    text-align: left;
}
.bu-waiter-logout a {
    display: inline-block;
    padding: 17px 40px 13px 40px;
    color: #c9c7c8;
    font-size: 20px;
    background:#585657;
}
.bu-waiter-logout a:hover {
    text-decoration: none;
    color: #c9c7c8;
    background: #413f40;
}