<div class="bu-waiter" ng-click="focusOnInput()">
    <div class="bu-waiter-header">
        <div class="bu-waiter-logout">
            <a href="" ng-click="logout()">
                <i class="glyphicon glyphicon-off"></i>
            </a>
        </div>
        <div class="bu-menu">
            <div class="bu-menu-item">
                <a href="">{{ getPointById(pointId).poi_name }}</a>
            </div>
            <div class="bu-menu-item" ng-if="isAdmin">
                <a href="" ng-click="changeMenu('point')">Changer point</a>
            </div>
            <div class="bu-menu-item" ng-if="isAdmin">
                <a href="" ng-click="changeMenu('admin')">Admin logout</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

	<div class="bu-waiter-error">{{ error }}</div>
	<div class="bu-waiter-waiter">En attente d'une carte étu !
        <div ng-if="lastBuyer"><br /><br />Dernière action par {{ lastBuyer.firstname }} {{ lastBuyer.lastname }} pour {{ (totalCredit/100).toFixed(2) }}€</div>
    </div>
    <form>
        <input type="text" ng-enter="pressEnter()" ng-model="cardId" id="cardId"/>
    </form>
</div>