<div class="bu-pin" ng-click="focusOnInput()">
    <div class="bu-waiter-header">
        <div class="bu-waiter-logout">
            <a href="" ng-click="logout()">
                <i class="glyphicon glyphicon-off"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
	<div class="bu-pin-container">
		Rentre ton code PIN !<br />
		<span class="bu-pin-error">{{ error }}</span><br />

		<div class="bu-pin-left">
            <img src="assets/img/users/{{seller.id}}.jpg" alt="PP"/><br />
			{{ seller.firstname }} {{ seller.lastname }}
		</div>

		<table class="bu-pin-digit">
			<tr>
				<th colspan="3">
				    <form>
				        <input type="password" maxlength="4" ng-enter="pressEnter()" ng-model="userPin" id="userPin"/>
				    </form>
		    	</th>
		    </tr>
		    <tr>
		    	<td ng-click="changeUserPin(1)"><a href="">1</a></td><td ng-click="changeUserPin(2)"><a href="">2</a></td><td ng-click="changeUserPin(3)"><a href="">3</a></td>
		    </tr>
		    <tr>
		    	<td ng-click="changeUserPin(4)"><a href="">4</a></td><td ng-click="changeUserPin(5)"><a href="">5</a></td><td ng-click="changeUserPin(6)"><a href="">6</a></td>
		    </tr>
		    <tr>
		    	<td ng-click="changeUserPin(7)"><a href="">7</a></td><td ng-click="changeUserPin(8)"><a href="">8</a></td><td ng-click="changeUserPin(9)"><a href="">9</a></td>
		    </tr>
		    <tr>
		    	<td class="bu-pin-digit-red" ng-click="changeUserPin('x')"><a href=""><i class="glyphicon glyphicon-remove"></i></a></td><td ng-click="changeUserPin(0)"><a href="">0</a></td><td class="bu-pin-digit-green" ng-click="sendUserPin()"><a href=""><i class="glyphicon glyphicon-ok"></i></a></td>
		    </tr>
		</table>
	</div>
</div>