            <div class="bu-header">
                <div class="bu-container">
                    <div class="bu-logout">
                        <a href="" ng-click="toReload()" ng-if="isReloader">
                            <i class="glyphicon glyphicon-euro"></i>
                        </a>
                        <a href="" ng-click="finish()">
                            <i class="glyphicon glyphicon-eject"></i>
                        </a>
                    </div>
                    <div class="bu-menu">
                        <div class="bu-menu-item" ng-class="{active: isActive(category)}" ng-repeat="category in categories">
                            <a href="" ng-click="switchCategory(category.id)">{{ category.name }}</a>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="bu-content">
                <div class="bu-user">
                    <div class="bu-user-profile">
                        <div class="bu-user-image">
                            <img src="assets/img/users/{{buyer.id}}.jpg?1" alt="PP"/>
                        </div>
                        <div class="bu-user-infos">
                            <strong class="name">{{ buyer.firstname }} {{ buyer.lastname }}</strong><br />
                            <small class="surname">BDE {{ buyer.nickname }}</small><br />
                            <span class="bu-credit">{{ buyer.credit/100 }} €</span>
                        </div>
                    </div>

                    <div class="bu-user-items-container">
                        <div class="bu-user-items" ng-repeat="item in cart">
                            <div class="bu-user-item">
                                <div class="bu-user-item-inner">
                                    <div class="item-remove">
                                        <a href="" ng-click="deleteProduct(item, 1)">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </div>
                                    <div class="item-count">
                                        {{ item.quantity }}
                                    </div>
                                    <div class="item-name">
                                        {{ item.product.obj_name }}
                                        <div class="item-promo-content-name" ng-repeat="promoProduct in item.content track by $index">{{promoProduct.obj_name}}</div>
                                    </div>
                                    <div class="item-price">
                                        {{ (item.quantity*item.product.price).toFixed(2)/100 }} €
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="bu-choice-purchase">
                        <a href="" ng-click="sendPurchases()"><i class="glyphicon glyphicon-ok"></i></a>
                    </div>
                </div>
                <div class="bu-choices">
                    <a href="" class="bu-choice" ng-click="addProduct(product)"  ng-repeat="product in actualProducts">
                        <div class="bu-choice-inner">
                            <div class="item-icon"><img ng-src="assets/img/products/{{ product.obj_id }}.png" alt="{{ product.obj_name }}"></div>
                            <div class="item-infos">
                                <div class="item-name">
                                    {{ product.obj_name }}
                                </div>
                                <div class="item-price">
                                    {{ product.price/100 }} €
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div ui-view="main"></div>